*{ 
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'relogio digital';
}

:root{
  
}

body{
  perspective: 500px;
}

#caixa{
  width: 200px;
  height: 200px;  
  margin: 0 auto;
  transform: rotate(-20deg,-10deg);
  transform-style: preserve-3d;
}

.face{
  width: 200px;
  height: 200px;
  position: absolute;
}

.topo{
  transform: translateY(100px);
  background: red;
}

.lado1{
  transform: rotateY(90deg) translateZ(100px);
  background: blue;
}
.lado2{
  transform: rotateY(-90deg) translateZ(100px);
  background: rebeccapurple;
}


/* #relogio-digital{
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 padding: 5px;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 width: 25em;
 height: 6.25em;
 outline: 2px solid red;
 z-index: 100;
 gap:10px;
}

#relogio-digital:is(.ativo) span{
  display: inline-block;
  
}

#hora,#minuto,#segundo,span{
  position: relative;
  font-size: 6em;
  margin: 0 0px;
}


 
@font-face {
  font-family: 'relogio digital';
  src: url(/font/DS-DIGIT.TTF);
} */